
<div class="main_container_portfolio">

  <div class="container_head_portfolio">

    <p class="head_portfolio">

      <b><i>Some of our works</i></b>

    </p>

  </div>

<div class="container_portfolio_resource">

  <div class="container_img_phone">

    <img class="img_phone" src="assets/img/—Pngtree—mobile decoration_3471382.png">

  </div>

  <div class="container_description_paragraph">
    <p class="head_app">
       <b><i>Emily chat</i></b>
    </p>

    <p class="description">

      Emily is our app that can be <br>
      downloaded on Play Market. <br>
      This app helps peaples to <br>
      choose films by asking some <br>
      questions like the year genre <br>
      the last film seen etc.  This <br>
      app is in a beta test. It is <br>
      developed in Android studio <br>
      using Java and also the <br>
      request are sent to the API <br>
      realizzed in NodeJs.

    </p>

  </div>

</div>

</div>
<div style="clear:left;"></div>
