
<div class="footer_container">

  <div class="footer_title">

    <p class="title">
      <b><i>Contact us!</i></b>
    </p>

  </div>

  <div class="footer_icons">
    <nav class="navbar_nav">
      <ul class="navbar_ul">

        <li class="navbar_li_footer">
          <a>
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </li>

        <li class="navbar_li_footer">
          <a class="navbar_li_a">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </li>

        <li class="navbar_li_footer">
          <a class="navbar_li_a">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
        </li>

      </ul>
    </nav>
  </div>

  <div class="container_phone_email">

    <p class="phone_email">
    <!--i class="fa fa-phone" aria-hidden="true"></i-->+393351539690 /
      <!--i class="fa fa-envelope-o" aria-hidden="true"></i--> osetskiivadim1@gmail.com
    </p>

  </div>

</div>
