

<div class="div_container_about_us">

  <div class="div_first_section">

    <div class="div_head_first_section">
      <p><b><i>Who are we?</i></b></p>
    </div>

    <div class="div_paragraph_first_section">
        <p>

          We are a small group of programers that <br>
          created a Start Up. We want to gaine a very <br>
          straitfull position on the market by offering <br>
          different servises.

        </p>
    </div>

  </div>

  <div class="div_second_section">

    <div class="div_head_second_section">
      <p><b><i>What kind of services?</i></b></p>
    </div>

    <div class="div_paragraph_second_section">
      <p>

          Basically we take care to develop powerfull <br>
          websites with clean and secure code on the backend and with simple and beutifull <br>
          design on the frontend. We also develop <br>
          powerfull softwares/Andoird apps with <br>
          buetifull design and with clean code.

        </p>
    </div>

  </div>

  <div class="div_third_section">

    <div class="div_head_third_section">
      <p><b><i>Why you should choose as?</i></b></p>
    </div>

    <div class="div_paragraph_third_section">
      <p>

          You should choose as becouse we are <br>
          young developers that have experience in <br>
          developing softwares and websites using <br>
          new technologies that are more powerfull <br>
          and more usefull in use instead of <br>
          technologies that are using overs <br>
          companies that are on the market for too <br>
          long time. We are young we now more <br>
          than over companies and we also have <br>
          clients that are satisfied  of our work!

        </p>
    </div>

  </div>

</div>
